/* Нав панель левая */
* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.page {
    display: flex;
}

.header {
    width: 12%;
    background-color: rgb(242, 231, 243);
    border-right: solid;
    border-width: 0.5px;
    border-color: blueviolet;

}

.section {
    width: 88%;
}

.header>div {
    width: 100%;
}

.header>div>img {
    width: 100%;
}

.header>ol {
    list-style: none;
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    word-break: break-all;
}

.header>Ol>h2 {
    font-weight: lighter;
    font-size: 1em;
}

.boxlitwo{
    transition: 0.20s;
    padding: 2px;
}

.boxlitwo:hover{
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.80);   
}
